body {
    font-family: "Poppins", Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #0056b3;
}
